:root {
    --fade-dur: 1s;
    --bounce-dur: 2;
}

.bouncedown {
    animation-duration: var(--fade-dur);
    animation-name: bouncedown;
    animation-iteration-count: 1;
}

@keyframes bouncedown {
    0% {
        transform: translateY(-30rem);
    }
    100% {
        transform: translateY(0rem);
    }
}